{{> navbar this}}


{{> header this}}

{{> messages this}}
<main>
    <div class="container mb-5">
        <div class="row d-flex justify-content-center">
            <h1 class="w-75 mt-5">
                Sorry......the page you requested does not exist!
            </h1>
        </div>
    </div>

</main>
{{> footer this}}